<?xml version="1.0" encoding="UTF-8"?>
<cas:externextractor xmlns:cas="http://oodt.jpl.nasa.gov/1.0/cas">
  <exec workingDir="">
    <extractorBinPath envReplace="true">/usr/local/bin/rts_met_extractor.py</extractorBinPath>
      <args>
         <arg isDataFile="true"></arg>
      </args>
   </exec>
</cas:externextractor>
